<table class="table table-bordered table-hover">
  <thead>
  <tr class="bg-primary text-white">
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Products</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <th scope="row">{{customer.id}}</th>
    <td>{{customer.name}}</td>
    <td>{{customer.email}}</td>
    <td>
      <ul class="list-unstyled" *ngFor="let product of customer.products">
        <li>{{product.name}}</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
