<table class="table table-bordered table-hover" *ngIf="products && products.length > 0">
  <thead>
  <tr class="bg-primary text-white">
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.price.toFixed(2)}} $</td>
    <td><button class="btn btn-outline-primary btn-block" (click)="deleteProduct(product.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
